.userWrap {
    display: grid;
    width: 60%;
    grid-template-columns: 1fr auto;
    margin-bottom: 15px;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
    padding: 10px;
    background-color: var(--base-white-color);
}

.leftBlockWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.name {
    font-size: 1.15em;
    font-weight: 500;
    color: var(--header-bg-color);
}

.avatar {
    width: 60px;
    border-radius: 30%;
    border: 1px solid var(--main-border-color);
}

.status {
    color: var(--likes-color);
    font-style: italic;
    font-size: 0.95em;
}

.rightBlockWrap {
    width: 160px;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: flex-end;
}

.countryCityWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.country,
.city {
    color: var(--semi-grey-color);
    font-size: 0.95em;
}
