.activeDialog {
    padding: 10px 30px;
    font-size: 0.95em;
}

.incomingMessageWrap {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 10px;
    justify-content: flex-end;
    margin-left: 45%;
}

.outgoingMessageWrap {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 10px;
    justify-content: flex-start;
    margin-right: 45%;
}

.avatar {
    width: 30px;
    border-radius: 30%;
    border: 1px solid var(--main-border-color);
}

.avatarRight {
    order: 1;
}

.incomingMessage {
    background-color: var(--incom-msg-bg-color);
    position: relative;
    padding: 7px 10px 5px;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0 1px 1px 0 #ddd;
    min-width: 100px;
}

.outgoingMessage {
    background-color: var(--outcom-msg-bg-color);
    position: relative;
    padding: 7px 10px 5px;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 0 1px 1px 0 #ddd;
    min-width: 100px;
}

.incomingMessage::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    border: 4px solid transparent;
    border-top: 4px solid var(--incom-msg-bg-color);
    border-left: 4px solid var(--incom-msg-bg-color);
}

.outgoingMessage::after {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    border: 4px solid transparent;
    border-top: 4px solid var(--outcom-msg-bg-color);
    border-right: 4px solid var(--outcom-msg-bg-color);
}

.options {
    position: absolute;
    left: 6px;
    bottom: 0;
    height: 26px;
    padding: 5px;
    display: flex;
    transition: opacity ease .1s;
}

.deleteMessage {
    height: 100%;
    cursor: pointer;
    opacity: .6;
}

.deleteMessage:hover {
    opacity: 1;
}

.time {
    font-size: .8em;
    text-align: right;
    margin-top: 7px;
    color: var(--time-grey-color);
}

.hidden {
    display: none;
}

.date {
    background-color: var(--extra-light-grey-color);
    border-radius: 10px;
    width: fit-content;
    margin: 15px auto 10px;
    font-size: .9em;
    padding: 5px 15px;
    color: var(--semi-grey-color);
}

.newMessageWrap {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.newMessage {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px 10px;
    resize: none;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
}

.newMessage::placeholder {
    color: var(--light-grey-color);
}

.newMessageSubmitButton {
    color: var(--base-light-color);
    padding: 5px 20px;
    margin-top: 10px;
    cursor: pointer;
    background: linear-gradient(0deg, #009973, #00785a);
    border: 1px solid var(--header-bg-color);
    border-radius: 30px;
    opacity: .80;
    transition: ease all .1s;
}

.newMessageSubmitButton:hover {
    opacity: 1;
}

.newMessageSubmitButton:active {
    color: var(--header-bg-color);
    opacity: 1;
    background: transparent;
    transition: none;
}