.newPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 15px auto 25px;
    position: relative;
}

.fakeDiv {
    position: absolute;
    bottom: 150px;
    left: 150px;
    font-size: 1.2em;
}

.newPostTextarea {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
    resize: none;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
}

.newPostTextarea::placeholder {
    color: var(--light-grey-color);
}

.newPostSubmitButton {
    color: var(--base-light-color);
    padding: 5px 25px;
    cursor: pointer;
    background: linear-gradient(0deg, #009973, #00785a);
    border: 1px solid var(--header-bg-color);
    border-radius: 30px;
    opacity: .80;
    transition: ease all .1s;
}

.newPostSubmitButton:hover {
    opacity: 1;
}

.newPostSubmitButton:active {
    color: var(--header-bg-color);
    opacity: 1;
    background: transparent;
    transition: none;
}