.header {
  color: var(--base-light-color);
  background-color: var(--header-bg-color);
  padding: 10px;
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 100%;
}