.dialogsList {
    padding: 10px 25px;
    list-style: none;
}

.person {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.person:last-child {
    margin-bottom: 0;
}

.person img {
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-border-color);
    border-radius: 30%;
}

.person a {
    color: var(--semi-grey-color);
    text-decoration: none;
}

.person a:hover {
    color: var(--base-black-color);
}

.person a.active {
    font-size: 1.07em;
    transition: all 0.15s ease;
    font-weight: 500;
    color: var(--base-black-color);
    position: relative;
}

.person a.active:after {
    content: ">";
    position: absolute;
    top: 0;
    right: -20px;
    color: var(--active-dialog-arrow-color);
    transform: scaleY(1.4) scaleX(0.8);
}
