.post {
    color: var(--base-black-color);
    border-top: 5px solid var(--post-border-color);
    padding: 20px;
    position: relative;
}

.post:last-child {
    border-bottom: 5px solid var(--post-border-color);
}

.post:nth-child(odd) {
    background-color: hsl(60, 55%, 94%);
}

.post:nth-child(even) {
    background-color: hsl(60, 55%, 91%);
}

.postHeader {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.authorTimeWrap {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.postAuthor {
    font-weight: 600;
}

.time {
    color: var(--semi-grey-color);
    font-size: 0.85em;
}

.postTitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--main-title-color);
}

.avatar {
    display: block;
    width: 50px;
    border: 1px solid var(--main-border-color);
    border-radius: 30%;
}

.likesBox {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-top: 10px;
    margin-left: 5px;
}

.likeAnchor {
    display: block;
}

.likeImg {
    height: 20px;
}

.numberOfLikes {
    font-size: 0.85em;
    color: var(--likes-color);
}
