.userCard {
    color: var(--user-data-color);
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 50px;
}

.description {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: flex-start;
}

.livesIn {
    color: var(--semi-grey-color);
}

.livesInValue {
    color: var(--main-title-color);
}

.status {
    color: var(--likes-color);
    font-style: italic;
    font-size: 0.95em;
}

.tittleName {
    color: var(--main-title-color);
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.avatar {
    width: 120px;
    height: 120px;
    border: 1px solid var(--main-border-color);
    border-radius: 30%;
}
