.activeDialog {
    padding: 10px 30px;
    font-size: 0.95em;
}

.incomingMessageWrap,
.outcomingMessageWrap {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 20px;
}

.incomingMessageWrap {
    margin-left: 45%;
}

.outcomingMessageWrap {
    margin-right: 45%;
}

.avatar {
    width: 30px;
    border-radius: 30%;
    border: 1px solid var(--main-border-color);
}

.incomingMessage,
.outcomingMessage {
    width: 100%;
    padding: 7px 10px 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    position: relative;
}

.incomingMessage {
    background-color: hsl(100, 80%, 90%);
}

.outcomingMessage {
    background-color: hsl(60, 100%, 88%);
}

.incomingMessage::after,
.outcomingMessage::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -8px;
    border: 4px solid transparent;
    border-left: 4px solid transparent;
}

.incomingMessage::after {
    border-bottom: 4px solid hsl(100, 80%, 90%);
    border-right: 4px solid hsl(100, 80%, 90%);
}

.outcomingMessage::after {
    border-bottom: 4px solid hsl(60, 100%, 88%);
    border-right: 4px solid hsl(60, 100%, 88%);
}

.time {
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    text-align: right;
    margin-top: 7px;
    color: var(--semi-grey-color);
}