.activeDialog {
    padding: 10px 30px;
    font-size: 0.95em;
}

.incomingMessageWrap {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 10px;
    justify-content: flex-end;
    margin-left: 45%;
}

.outgoingMessageWrap {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 10px;
    justify-content: flex-start;
    margin-right: 45%;
}

.avatar {
    width: 30px;
    border-radius: 30%;
    border: 1px solid var(--main-border-color);
}

.avatarRight {
    order: 1;
}

.incomingMessage {
    background-color: var(--incom-msg-bg-color);
    position: relative;
    padding: 7px 10px 5px;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0 1px 1px 0 #ddd;
}

.outgoingMessage {
    background-color: var(--outcom-msg-bg-color);
    position: relative;
    padding: 7px 10px 5px;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 0 1px 1px 0 #ddd;
}

.incomingMessage::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    border: 4px solid transparent;
    border-top: 4px solid var(--incom-msg-bg-color);
    border-left: 4px solid var(--incom-msg-bg-color);
}

.outgoingMessage::after {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    border: 4px solid transparent;
    border-top: 4px solid var(--outcom-msg-bg-color);
    border-right: 4px solid var(--outcom-msg-bg-color);
}

.time {
    font-size: .8em;
    text-align: right;
    margin-top: 7px;
    color: var(--semi-grey-color);
}

.date {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: fit-content;
    margin: 15px auto 10px;
    font-size: .9em;
    padding: 5px 10px;
    color: var(--semi-grey-color);
}

.dateHidden {
    display: none;
}