.comingSoonWrap {
    padding: 45px;
    height: 100%;
    background-image: url(../../assets/coming-soon.png);
    background-size: contain;
}

.comingMessage {
    font-size: 2em;
    font-weight: 300;
    color: var(--semi-grey-color);
}